.comment_item{
    position: relative;
    padding-bottom: 10px;
    border-bottom: 1px solid #ebebeb;
}

.mycomment{
    background: #f9f9fa;
}

.comment_area{
    text-align: left;
    position: relative;
    top: 5px;
    padding: 12px 23px 10px 0;
}

.comment-writer-info .profile{
    float: left;
}

.comment-profile-area{
    position: relative;
    left: 10px;
}

.comment-profile-box{
    display: inline-block;
    position: relative;
    top: 3px;
    margin-bottom: 8px;
}

.comment-profile-box a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.comment-text-box{
    margin-bottom: 10px;
}

.comment-bottom{
    position: relative;
    display: flex;
}

.comment-info-box{
    position: relative;
    color : #979797;
    display: inline-block;
}

.more_comment{
    position: relative;
    display: inline-block;
    margin-left: 10px;
}

.more_comment a{
    color : #979797;
}

.comment-settings{
    position: relative;
    top: -40px;
    float: right;
}

.comment-settings .submit_btn{
    min-width: 46px;
    height: 36px;
    margin-left: 10px;
    padding: 0 12px;
    font-size: 13px;
    display: inline-block;
    border-radius: 6px;
    box-sizing: border-box;
    font-weight: 700;
    text-align: center;
    vertical-align: top;
    color : #009f47;
    background: rgba(3, 199, 90, 0.12);
}

.comment-settings .submit_btn span{
    font-size: 13px;
    line-height: 36px;
    color : #009F47
}